body{
body{
    background-color: rgba(250, 150,150, 0.8)
}

#profile_image{
    border: 2px dotted black;
}

.layout{

}
.layout{
    color:#5959c4;
    font-family:cursive;



}
table tr:first-child{
    background-color: rgba(250, 250,250, 0.8)
}
